:root {
  --primary-color: #596e79;
  --secondary-color: #dfd3c3;
  --text-color: #1e262a;
  --main-font: "Poppins", sans-serif;
  --background-color: #f0ece241;
}
body {
  background-color: var(--background-color);
}
.project-img {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.main-name {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--primary-color);
  font-size: 66px;
}
.main-hi {
  font-family: var(--main-font);
  font-weight: 200;
  font-size: 36px;
}
.main-description {
  font-family: var(--main-font);
  font-weight: 200;
  font-size: 22px;
  color: var(--text-color);
}

.main-about {
  font-family: var(--main-font);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 30px;
  max-width: 650px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.about {
  font-weight: 200;
}
.about-paragraph {
  font-weight: 200;
}
.icons {
  text-align: center;
  color: var(--primary-color);
  max-width: 700px;
  padding: 30px;
  margin-top: 120px;
  margin-bottom: 100px;
  border: 1px solid rgba(255, 255, 255, 0.902);
  border-radius: 10px;
  background-color: #596e7918;
  backdrop-filter: blur(5px);
}
.icon {
  font-size: 50px;
  padding: 20px;
}

.icon:hover {
  color: var(--secondary-color);
}
.icon-text {
  font-family: var(--main-font);
  font-size: 22px;
}
.head {
  margin: 50px;
  margin-top: 100px;
}

.title {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 52px;
  margin-top: 120px;
  margin-bottom: 120px;
  color: var(--primary-color);
}

.sub-title {
  font-family: var(--main-font);
  font-weight: 200;
  color: var(--primary-color);
}
.sub-title:hover {
  color: var(--secondary-color);
}
.tools-title {
  font-family: var(--main-font);
  font-weight: 200;
  color: var(--primary-color);
}
.projects-description {
  font-family: var(--main-font);
  font-weight: 200;
}
.project-block {
  margin-top: 80px;
}
.contact-me {
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 200;
  line-height: 2;
  margin-top: 40px;
  font-size: 18x;
}

footer .social-links a {
  color: var(--primary-color);
  margin: 100px 40px;
  background: #dfd3c36a;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
  margin-bottom: 50px;
}
footer .social-links a:hover {
  color: #dfd3c36a;
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  .project-img {
    width: 400px;
  }
  .main-name {
    font-size: 54px;
  }
  .main-hi {
    font-size: 32px;
  }
  .main-description {
    font-size: 22px;
  }
}
