:root {
  --primary-color: #596e79;
  --secondary-color: #dfd3c3;
  --main-font: "Poppins", sans-serif;
  --background-color: #f0ece25e;
}
body {
  background-color: var(--background-color);
}
.project-img {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.main-name {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--primary-color);
  font-size: 66px;
}
.main-hi {
  font-family: var(--main-font);
  font-weight: 200;
  font-size: 36px;
}
.main-description {
  font-family: var(--main-font);
  font-weight: 200;
  font-size: 22px;
}

.main-about {
  font-family: var(--main-font);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 30px;
  max-width: 650px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.about {
  font-weight: 200;
}
.about-paragraph {
  font-weight: 200;
}
.icons {
  text-align: center;
  color: var(--primary-color);
  max-width: 700px;
  margin-top: 100px;
}
.icon {
  font-size: 50px;
  padding: 20px;
}
.icon-text {
  font-family: var(--main-font);
  font-size: 22px;
}
.head {
  margin: 50px;
}

.title {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 46px;
  margin-top: 100px;
  margin-bottom: 70px;
  color: var(--primary-color);
}

.projects-name {
  font-family: var(--main-font);
  font-weight: 200;
  color: var(--primary-color);
}
.projects-name:hover {
  color: var(--secondary-color);
}
.projects-description {
  font-family: var(--main-font);
  font-weight: 200;
}
@media (max-width: 900px) {
  .project-img {
    width: 400px;
  }
  .main-name {
    font-size: 54px;
  }
  .main-hi {
    font-size: 32px;
  }
  .main-description {
    font-size: 22px;
  }
}
