:root {
  --primary-color: #ea6482;
}
img {
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
}
h1 {
  font-weight: 400;
  font-size: 50px;
  color: var(--primary-color);
}
h2 {
  font-weight: 200;
  font-size: 36px;
  margin-top: 150px;
}
h3 {
  font-weight: 200;
  font-size: 22px;
}
